.app{
  height: 100vh;
  border: 3px solid black;
  text-align:center;
 color: white;
 background-color: black;  
 font-size: xx-large;
 font-weight: bolder;

}
button{
  height: 30px;
  width: 70px;
  margin:0.3rem;
  border: 3px solid white ;
  border-radius: 3rem;
  border-top-color: white;
  border-left-color: white;
}

button:hover{
  scale: 1.1qqqqqqqqq ;
  border: 3px solid orange;
  background-color: orange;
  color: white;
  border-bottom-color: white;
  border-right-color: white;
}